<mat-toolbar color="primary" *ngIf="loggedUser">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>AppAngular</h1> 
  <a mat-button routerLink="login" routerLinkActive="mat-raised-button">Login</a>
  <a mat-button routerLink="register" routerLinkActive="mat-raised-button">Registro</a>
  <span class="spacer"></span>
  <h3>{{loggedUser.name}}</h3>
  <button mat-icon-button aria-label="Example icon-button with share icon" (click)="logout()" *ngIf="loggedUser">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list> 
            
      <a mat-list-item routerLink="/users" routerLinkActive="mat-raised-button" (click)="sidenav.close()"> Usuários</a>
      
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


